$color-primary: #fb6f92;
$color-primary-light: #ff8fab;
$color-primary-light-1: #ffb3c6;
$color-primary-light-2: #ffc2d1;
$color-primary-light-3: #ffe5ec;

$color-secondary: #6ffbd8;

$color-white: #f2f2f2;

//  Responsive breakpoints
$bp-largest:75em; //1200 px
$bp-large:62.5em; //1000px
$bp-lm:56.25em; // 900px
$bp-medium:50em; // 800px
$bp-small:37.5em; // 600px
$bp-small2:29.6875em; //475px
$bp-small3:25.9375em; // 415px
$bp-smallest: 25em; // 400px
$bp-mini:20em; // 320px


// green #4ee44e
// yellow #e4e44e

